@model IEnumerable<MarketSG.Model.Entities.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Descripton</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-default m-r-5" asp-action="Details" asp-controller="AdminRoles" asp-route-id="@item.RoleId">Details</a>
                            <a class="btn btn-primary m-r-5" asp-action="Edit" asp-controller="AdminRoles" asp-route-id="@item.RoleId">Edit</a>
                            <a class="btn btn-danger m-r-5" asp-action="Delete" asp-controller="AdminRoles" asp-route-id="@item.RoleId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
